/* Global styles */
body {
  font-family: "Nunito", sans-serif;
  font-size: 1rem;
  line-height: 1.7;
  color: #333;
  background-color: #ffffff;
}

a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
}

a:hover {
  color: #0056b3;
  text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Varela Round", sans-serif;
  font-weight: 700;
  line-height: 1.2;
  margin-top: 0;
  margin-bottom: 1rem;
}

/* Navigation styles */
.navbar {
  background-color: #00376e;
}

.nav-link {
  font-size: 0.9rem;
  font-weight: 600;
  text-transform: uppercase;
  padding: 0.5rem 1rem;
  color: #333;
}

.nav-link:hover {
  color: #007bff;
}

.navbar-toggler {
  font-size: 0.9rem;
  color: #333;
  border-color: #333;
}

.navbar-toggler:hover,
.navbar-toggler:focus {
  color: #007bff;
  border-color: #007bff;
}

/* Masthead styles */
.masthead {
  height: 100vh;
  min-height: 500px;
  background: linear-gradient(180deg, #F5F7FA 0%, rgba(245, 247, 250, 0) 100%), url("assets/img/misty_peaks.jpg") no-repeat center center fixed;
  background-size: cover;
  position: relative;
}

.masthead h1,
.masthead h2 {
  color: #000000;
  font-weight: bold;
  font-size: 4rem;
  text-align: center;
}

.masthead h2 {
  font-size: 2.5rem;
  font-weight: 300;
}

.masthead .masthead-arrow {
  position: absolute;
  bottom: 2rem;
  left: 50%;
  margin-left: -1rem;
  border: solid #000000;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 10px;
  transform: rotate(45deg);
}

/* About section styles */
.about-section {
  padding: 100px 0;
  text-align: center;
}

.about-section h2 {
  color: #000000;
  font-weight: bold;
  font-size: 3rem;
}

.about-section h4 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.about-section p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

/* Projects section styles */
.projects-section {
  padding: 100px 0;
}

.projects-section h4 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.projects-section h3 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}

.projects-section p {
  margin-bottom: 2rem;
  font-size: 1.2rem;
}

.projects-section img {
  max-width: 100%;
  height: auto;
  margin-bottom: 2rem;
}

.featured-text {
  padding: 3rem;
 
}
